doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title BookOrbit
    link(href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Euphoria+Script&display=swap" rel="stylesheet")
    link(href="/css/reusable.css" rel="stylesheet")
    link(href="/css/user-dashboard.css" rel="stylesheet")
    
  body.h-screen
    // Top Navbar
    .top-navbar
        h1.logo-text BookOrbit
        h1.text-xl.font-semibold.pl-3 Dashboard
        .flex.items-center.gap-4.ml-auto
          button.relative
            //- i.fas.fa-bell
            //- span.notification-badge 1
          .w-8.h-8.rounded-full.overflow-hidden(style="background-color: #dccdbe;")
            img(src="https://placehold.co/40x40/dccdbe/ffffff?text=U" alt="User")#profile-picture
    .flex.h-full
      // Sidebar
      include partials/sidebar.pug

      // Main Content
      .flex-1.overflow-auto.h-full
        // Search and Filters
        .px-6.py-4.flex.justify-between.items-center
          .relative.w-72
            input.pl-3.pr-10.py-2.rounded-md.border.w-full(type="text" placeholder="Search" style="border-color: #d6dae5;")
            i.fas.fa-search.absolute.right-3.top-search.text-gray-400
          
          .flex.items-center.gap-3
            span.text-sm.text-gray-500 Filter by :
            
            button.filter-button
              span Date
              i.fas.fa-calendar(style="color: #5252fc;")
            
            button.filter-button
              span Author
              i.fas.fa-chevron-down
            
            button.filter-button
              span Genre
              i.fas.fa-chevron-down
            
            button.borrow-button.px-4.py-1-5.text-sm Borrow now

        // Book Status Cards
        .grid.grid-cols-3.gap-4.px-6.mb-8
          // Recently Borrowed Card
          .book-card.bg-white.border.overflow-hidden
            .flex.flex-row.items-center.gap-3.p-4.pb-2
              .w-10.h-10.rounded-full.flex.items-center.justify-center.recently-borrowed-icon
                i.fas.fa-book
              h3.font-medium Recently Borrowed
              button.ml-auto.action-button
                i.fas.fa-ellipsis-v
            .p-4.pt-0
              h2.text-2xl.font-bold#recently-borrowed-books 20 Books
          
          // Currently Reading Card
          .book-card.bg-white.border.overflow-hidden
            .flex.flex-row.items-center.gap-3.p-4.pb-2
              .w-10.h-10.rounded-full.flex.items-center.justify-center.currently-reading-icon
                i.fas.fa-book-open
              h3.font-medium Currently Reading
              button.ml-auto.action-button
                i.fas.fa-ellipsis-v
            .p-4.pt-0
              h2.text-2xl.font-bold 20 Books
          
          // Pending Returns Card
          .book-card.bg-white.border.overflow-hidden
            .flex.flex-row.items-center.gap-3.p-4.pb-2
              .w-10.h-10.rounded-full.flex.items-center.justify-center.pending-returns-icon
                i.fas.fa-clock
              h3.font-medium Pending Returns
              button.ml-auto.action-button
                i.fas.fa-ellipsis-v
            .p-4.pt-0
              h2.text-2xl.font-bold 20 Books

        // New Reads Section
        .px-6.mb-8
          .flex.justify-between.items-center.mb-4
            h2.text-xl.font-bold New Reads
            a.view-all(href="#") See All...
          
          .grid.grid-cols-3.gap-4#new-reads
            // Books will be dynamically loaded here

        //- // Pick of the Week Section
        //- .px-6.mb-8
          .flex.justify-between.items-center.mb-4
            h2.text-xl.font-bold Pick of the week
            a.view-all View All...
          
          .grid.grid-cols-6.gap-4
            // Book 1 - Hide and Seek
            .flex.flex-col
              .relative.mb-2
                img.book-cover-small(src="https://s3-alpha-sig.figma.com/img/41fc/4cbb/bc8f1834ef834dcec59a7993657f63b6?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=E5xfLG7IcwL6urvEg4~u7Ra6kx8~RqPORsX8urB80uDZG-NwNK~r50kJubaF42hlNxOMNrYsbfwTFCLcnVjtG3tlQ9TVmJUsAZdcRCHXneO3I~JMjbyHPTyBEL5JkkcE-QQwyMECznxhE~nPc1RhqY2mRWcuEIdSfl8t~RuukAR~0LbxsupWvtG4csQHsTFF137EREg1poksyPGZo9QiQVBACCf00lwlVsmsl1lEYoxKO2xLTt6Sc1ISc7LFucsxxhNiYVn--8sapSQZ3Me1GxLzLveHNuEbEXxIDm0t0eMUQtXOEINxjB6TVwPuLX-Q-Gc8-EWgRQI4mXoafEwdXA__" alt="Hide and Seek")
                span.completed-badge.absolute.top-2.left-2 Completed
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1 Borrow now
            
            // Book 2 - Beyond the Ocean Door
            .flex.flex-col
              .relative.mb-2
                img.book-cover-small(src="https://s3-alpha-sig.figma.com/img/222e/dccf/7a50728526d9ab4bf7c860053b1a8381?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ryNDhZn4MY~R7W3yhCNcCH1FHR-Qo~Kkfj7AArm-GuF3~5iSBej5r8zCysVNRxatw7Z794c~vPE9~zrkFoW12DGTfkSp5rhVzS5UEKdYTR1fc2IvoWCe6RPLTYpluiNxUXuvjke763SgdzimYdjn1Q1q13NTd6wBrs-F5odqJTGmg0VDf8LT4Sx0CQg3x4BGU9ZHsNSNIOsOX8X6kQXVaFEWuxYgapAJ3ZJJWMBylXVixHF8l25MeFw3FXyRRpcfTB2qfr-C8BS~RllIE9dBRj8jTpRoR6yAjRTYBvp1kUBinOghcWDBi-Zb-QAwHn21kXcP86DSo-fu5wk98OD6AQ__" alt="Beyond the Ocean Door")
                span.completed-badge.absolute.top-2.left-2 Completed
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1 Borrow now
            
            // Book 3 - The Battle for the Fae King Throne
            .flex.flex-col
              .relative.mb-2
                img.book-cover-small(src="https://s3-alpha-sig.figma.com/img/b1fa/6292/88eb72cca9e36e565a7085d1fe7060f8?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=V8F1cp~QHOyxJ7R6R9MQGa93oM7K4F~bHbJRWUoTJMXiBrWS70WRwg90wpmvXY~h8tloBQV7xm8KgvXSw9nVpDi6PEdR2tz~dZOP1yKVRd8dEiajb9UEKzNfvVj8reYZYpvFlDcsB6rSFEwgPsb5~u9wjeUBdVbtG3Y52O6oX6~ZCthqOMzqrr-n37ZLw8mZE34RYqRYPkrLkKh73Ll7zMJqSU-soD0~kVtYrjznOWTdjLiLbOphnSlVFAxgccT0NaUh1cpkVxBZf4RKHN0C4M-AQfxqDWwQcYHPtuda~qOb-GCpeqsZ8uvUY64I8FS~jMsrmr3xmdVUPWzdQf8ugw__" alt="The Battle for the Fae King Throne")
                span.completed-badge.absolute.top-2.left-2 Completed
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1 Borrow now
            
            // Book 4 - The Girl in the Woods
            .flex.flex-col
              .relative.mb-2
                img.book-cover-small(src="https://s3-alpha-sig.figma.com/img/05c5/4ed1/505317975863dd84a91ec0f3ac6b575d?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=hWRarkHBI5In2MCZ2BxPyzq5AX9GEAQaJY7pmcDm98oM3Og0LrF0rEevhuqd8gLzMo3A7F-zwnJfYwildZh5IweowC~LLqw9ag5LtiIOm2aGj456BV-1yJ9Pu8rzwKjlZ4EJDOJhBlXzCy2pAvrwJWp8d-7v-r8RZQ94wtsy57cvg-tUwx8GrwKO~6ryYBIpDIZcisxZrS3xpC36cZKTXmHJBKU9XuIbU-9Ia01X1zjv4bt9YlbHNT3Yinq~XAk75N19liba6A-TuGZdypQu6e44UkYA5aDNffdvaRPn43V73Vz2ebzAw5ao3kzb3bnAGWUZWh25GHG4gCImZDE3kg__" alt="The Girl in the Woods")
                span.completed-badge.absolute.top-2.left-2 Completed
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1 Borrow now
            
            // Book 5 - Beautiful Lies
            .flex.flex-col
              .relative.mb-2
                img.book-cover-small(src="https://s3-alpha-sig.figma.com/img/6b10/a62d/14ffc55d0ada18f4279d9cc84bd0dd7a?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=SBVMOtWxfSyyYaZ5pKpIwPXUQFzIJT9iBCuJorZkZ0w6z8bgKVypNOAWVoFerrvPsIxaS70j3uufXXB3UQXGZD3~rDWnjEC1oShLwxTMyDP8nlZNoIegxBy8B9DC99x8xxSO32zIw1b~nRN-SncwQHBYSNuG9k3FPBhpNt0qHQX6T8-VJWswG5WyKwaKad-iAUKRM3tXwcYHrhjLOFyhUPW4X~7dCT61REPxDFlV-E4i35tE6b5ANZ3hqRPK0ApKlapGf1VAkY-F1Wp0qGdYDTxAUjQhFvJqD-Rm0YfuFdTQPox~mH314oQ-qnvLJcAGfFAk3mp~jEyHQr-HNhhMbA__" alt="Beautiful Lies")
                span.completed-badge.absolute.top-2.left-2 Completed
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1 Borrow now
            
            // Book 6 - Love
            .flex.flex-col
              .relative.mb-2
                img.book-cover-small(src="https://s3-alpha-sig.figma.com/img/1d0d/d0c4/d8151ed6eb36516c4aac32fbc34beacb?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=bzTizmlKa3TRh9WHs~gkSP8H6WGkNHnCbEXoVmI-5TnohArH0c2eX1UYq0MrEjHWEvFxROYrfwEfO4LuRG~oy98eivsLcv8s2qRcWT1AjlQj6aOQRaLqUFVsAlKjCvRc8nNZfJQdsp99ksdQxtdhVRaETCjUk9xfeiobmdI8oswg1-8Otcb~GYBwZwRK-VEWjtExQZDa1SMaBHQO0X5Onzy8fqtX2Ni1aakxfKdanmjzh5NMiaC8Cp9pUaVfphh-m50s8JzmNLw-9b7VHpK5DEsPmTY94MkZjM0ChlWWozFfmFoQPogBmyoniG4B8DqSqFwXrBANwbZBrQDYJREsUg__" alt="Love")
                span.completed-badge.absolute.top-2.left-2 Completed
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1 Borrow now

        //- // Popular Books Section
        //- .px-6.mb-8
          .flex.justify-between.items-center.mb-4
            h2.text-xl.font-bold Popular Books
            a.view-all View All...
          
          .grid.grid-cols-6.gap-4
            // Book 1 - Soul
            .flex.flex-col
              .mb-2
                img.book-cover-small(src="https://via.placeholder.com/150x225/8787e3/ffffff?text=Soul" alt="Soul")
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1.mb-2 Borrow now
              .flex.items-center
                .flex
                  - for (var j = 1; j <= 5; j++)
                    i.fas.fa-star(class=j < 5 ? "star-filled" : "star-empty")
                span.text-xs.ml-1 4.5
            
            // Book 2 - Siren
            .flex.flex-col
              .mb-2
                img.book-cover-small(src="https://via.placeholder.com/150x225/e3c987/ffffff?text=Siren" alt="Siren")
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1.mb-2 Borrow now
              .flex.items-center
                .flex
                  - for (var j = 1; j <= 5; j++)
                    i.fas.fa-star(class=j < 5 ? "star-filled" : "star-empty")
                span.text-xs.ml-1 4.5
            
            // Book 3 - Alone
            .flex.flex-col
              .mb-2
                img.book-cover-small(src="https://via.placeholder.com/150x225/87e3c9/ffffff?text=Alone" alt="Alone")
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1.mb-2 Borrow now
              .flex.items-center
                .flex
                  - for (var j = 1; j <= 5; j++)
                    i.fas.fa-star(class=j < 5 ? "star-filled" : "star-empty")
                span.text-xs.ml-1 4.5
            
            // Book 4 - The Gilded Cage
            .flex.flex-col
              .mb-2
                img.book-cover-small(src="https://via.placeholder.com/150x225/c987e3/ffffff?text=Gilded+Cage" alt="The Gilded Cage")
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1.mb-2 Borrow now
              .flex.items-center
                .flex
                  - for (var j = 1; j <= 5; j++)
                    i.fas.fa-star(class=j < 5 ? "star-filled" : "star-empty")
                span.text-xs.ml-1 4.5
            
            // Book 5 - The Disguised Princess
            .flex.flex-col
              .mb-2
                img.book-cover-small(src="https://via.placeholder.com/150x225/e3a587/ffffff?text=Disguised+Princess" alt="The Disguised Princess")
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1.mb-2 Borrow now
              .flex.items-center
                .flex
                  - for (var j = 1; j <= 5; j++)
                    i.fas.fa-star(class=j < 5 ? "star-filled" : "star-empty")
                span.text-xs.ml-1 4.5
            
            // Book 6 - The Human Lie Detector
            .flex.flex-col
              .mb-2
                img.book-cover-small(src="https://via.placeholder.com/150x225/87c9e3/ffffff?text=Lie+Detector" alt="The Human Lie Detector")
              h3.text-sm.font-semibold.mb-1 Title of Book
              p.text-xs.text-gray-500.mb-1 Author
              p.text-xs.text-gray-500.mb-1
                | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum.
                span.read-more  Read more...
              .flex.items-center.gap-2.mb-2
                button.action-button
                  i.far.fa-heart
                button.action-button
                  i.far.fa-star
              button.borrow-button.w-full.text-white.rounded-full.text-xs.py-1.mb-2 Borrow now
              .flex.items-center
                .flex
                  - for (var j = 1; j <= 5; j++)
                    i.fas.fa-star(class=j < 5 ? "star-filled" : "star-empty")
                span.text-xs.ml-1 4.5

    script(src="/js/utils.js")
    script(src="/js/user-dashboard.js")
    script(src="/js/sidebar.js")